* {
  box-sizing: border-box; }

/* */
body {
  background-color: #b5efff; }

main {
  font-family: 'Catamaran', sans-serif;
  background-color: #fff;
  border-radius: 10px;
  height: 700px;
  margin: 30px 20px;
  box-shadow: 0 0 19px 2px #78e2ff; }

/*navagation bar
*****************/
.flex-container-header {
  height: 45px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px; }

/*cube*/
.cube {
  position: relative;
  top: 11px;
  flex: 0 1 50px;
  margin: 10px 60px 10px 60px;
  /*need to review*/ }

.rightFace,
.leftFace,
.topFace {
  /*    padding: 10px;*/
  width: 10px;
  height: 10px;
  position: absolute; }

.leftFace {
  transform: skewY(30deg);
  background-color: #bee6ff; }

.rightFace {
  transform: skewY(-30deg);
  background-color: #07a0ff;
  left: 10px; }

.topFace {
  transform: rotate(60deg) skewY(-30deg) scaley(1.16);
  background-color: #93d5ff;
  top: -8px;
  left: 5px; }

/*nav links*/
#nav {
  /*    flex: 1 0 auto;*/
  /*    padding-top: 15px;*/
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }

#nav a:not(:last-child) {
  margin-right: 10px; }

#nav a[href] {
  font-weight: 700;
  color: #aaa;
  text-decoration: none; }

#nav a[href]:hover {
  color: #222; }

/*profile*/
.portrait {
  padding: 9px 0;
  margin: 0 60px; }

.portrait img {
  width: 30px;
  height: 30px;
  border-radius: 50%; }

/* Header part
*****************/
#title {
  margin: 0 0 0 60px; }

#title h1 {
  margin: 0 0 10px;
  padding: 0; }

#title p {
  margin: 0 0 30px;
  padding: 0; }

/* Section part
*****************/
div[class^=flex-item] {
  border: 1px dashed #aaa;
  margin: 5px;
  border-radius: 10px; }

.flex-main-container {
  display: flex;
  background-color: #000;
  margin: 0 55px;
  height: 400px; }

.flex-container {
  background-color: #fff678;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: 50%;
  flex: 1 0 auto; }

.flex-item {
  background-color: #ff7af4; }
  .flex-item.wide {
    width: 100%;
    height: calc(percentage(2/5) - $mrgn-items); }
  .flex-item.narrow {
    width: calc(50% - $mrgn-items);
    height: 60%; }
