* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif; }

/* */
body {
  background-color: #b5efff; }

main {
  background-color: #fff;
  border-radius: 10px;
  margin: 30px auto;
  -webkit-box-shadow: 0 0 19px 2px #78e2ff;
  box-shadow: 0 0 19px 2px #78e2ff;
  width: 1200px;
  height: auto; }

/*navagation bar
*****************/
.flex-container-header {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px; }

/*cube*/
.cube {
  position: relative;
  top: 11px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50px;
  flex: 0 1 50px;
  margin: 10px 120px 10px;
  /*need to review*/ }

.cube:hover {
  -webkit-transform: translate(3px, 2px) scale(1.2);
  transform: translate(3px, 2px) scale(1.2); }

.rightFace,
.leftFace,
.topFace {
  /*    padding: 10px;*/
  width: 10px;
  height: 10px;
  position: absolute; }

.leftFace {
  -webkit-transform: skewY(30deg);
  transform: skewY(30deg);
  background-color: #bee6ff; }

.rightFace {
  -webkit-transform: skewY(-30deg);
  transform: skewY(-30deg);
  background-color: #07a0ff;
  left: 10px; }

.topFace {
  -webkit-transform: rotate(60deg) skewY(-30deg) scaley(1.16);
  transform: rotate(60deg) skewY(-30deg) scaley(1.16);
  background-color: #93d5ff;
  top: -8px;
  left: 5px; }

/*nav links*/
#nav {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#nav a:not(:last-child) {
  margin-right: 10px; }

#nav a[href] {
  font-weight: 700;
  color: #aaa;
  text-decoration: none; }

#nav a[href]:hover {
  color: #222; }

/*profile*/
.portrait {
  padding: 9px 0;
  margin: 0 120px; }

.portrait:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.portrait img {
  width: 30px;
  height: 30px;
  border-radius: 50%; }

/* Header part
*****************/
#title {
  margin: 0 120px; }

#title h1 {
  font-size: 2.5rem;
  margin: 0 0 10px;
  padding: 0; }

#title p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 0 0 20px;
  padding: 0; }

/* Section part
*****************/
#info {
  margin: 0 0 40px 0; }

/*flex containers*/
.flex-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 110px;
  height: auto; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  height: 100%;
  width: 50%;
  margin-bottom: 30px; }

.flex-container div[class^=flex-item] {
  padding: 10px;
  border-radius: 10px; }

.flex-item.wide {
  width: 490px;
  height: 248.038px; }

.flex-item.narrow {
  width: 245px;
  height: 351.33px; }

/*flex inner blocks*/
.flex-item div[class^=item] {
  border-radius: 10px;
  background-size: 80%;
  background-size: cover;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: relative; }

.item1 {
  background: url(../img/item1.png) center no-repeat; }
  .item1 > .item-button {
    color: #499c97;
    -webkit-box-shadow: rgba(73, 156, 151, 0.8) 0px 2px 12px 0px;
    box-shadow: rgba(73, 156, 151, 0.8) 0px 2px 12px 0px; }

.item2 {
  background: url(../img/item2.png) center no-repeat; }
  .item2 > .item-button {
    color: #488699;
    -webkit-box-shadow: rgba(72, 134, 153, 0.8) 0px 2px 12px 0px;
    box-shadow: rgba(72, 134, 153, 0.8) 0px 2px 12px 0px; }

.item3 {
  background: url(../img/item3.png) center no-repeat; }
  .item3 > .item-button {
    color: #b65676;
    -webkit-box-shadow: rgba(182, 86, 118, 0.8) 0px 2px 12px 0px;
    box-shadow: rgba(182, 86, 118, 0.8) 0px 2px 12px 0px; }

.item4 {
  background: url(../img/item4.png) center no-repeat; }
  .item4 > .item-button {
    color: #15172b;
    -webkit-box-shadow: rgba(21, 23, 43, 0.8) 0px 2px 12px 0px;
    box-shadow: rgba(21, 23, 43, 0.8) 0px 2px 12px 0px; }

.item5 {
  background: url(../img/item5.png) center no-repeat; }
  .item5 > .item-button {
    color: #b1855c;
    -webkit-box-shadow: rgba(177, 133, 92, 0.8) 0px 2px 12px 0px;
    box-shadow: rgba(177, 133, 92, 0.8) 0px 2px 12px 0px; }

.item6 {
  background: url(../img/item6.png) center no-repeat; }
  .item6 > .item-button {
    color: #5da7b4;
    -webkit-box-shadow: rgba(93, 167, 180, 0.8) 0px 2px 12px 0px;
    box-shadow: rgba(93, 167, 180, 0.8) 0px 2px 12px 0px; }

/*block's elements*/
.item-tag {
  color: #FFF;
  opacity: 0.5;
  font-size: 1rem;
  padding-top: 10px;
  margin: 0 0 10px; }

.item-header {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2rem;
  margin: 0; }

.item-button {
  border: none;
  background-color: #fff;
  font-weight: 700;
  font-size: 0.8rem;
  width: 120px;
  height: 30px;
  border-radius: 4px;
  position: absolute;
  bottom: 30px; }

.item-button:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05); }
