    // variables
    //
    $bg-col: #b5efff; //background color
    $mrgn-side: 120px; // side margins of items in main white block
    $pdng-items: 10px; // paddings between blocks
    $w-wb: 490px; // width of wide block
    $w-nb: $w-wb / 2; //width of narrow block
    * {
        box-sizing: border-box;
        font-family: 'Catamaran', sans-serif;
    }
    /* */

    body {
        background-color: $bg-col;
    }

    main {
        background-color: #fff;
        border-radius: 10px;
        margin: 30px auto;
        box-shadow: 0 0 19px 2px #78e2ff;
        width: 1200px;
        height: auto;
    }
    /*navagation bar
*****************/

    .flex-container-header {
        height: 45px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        margin-bottom: 40px;
    }
    /*cube*/

    .cube {
        position: relative;
        top: 11px;
        flex: 0 1 50px;
        margin: 10px $mrgn-side 10px;
        /*need to review*/
    }

    .cube:hover {
        transform: translate(3px, 2px) scale(1.2);
    }

    .rightFace,
    .leftFace,
    .topFace {
        /*    padding: 10px;*/
        width: 10px;
        height: 10px;
        position: absolute;
    }

    .leftFace {
        transform: skewY(30deg);
        background-color: #bee6ff;
    }

    .rightFace {
        transform: skewY(-30deg);
        background-color: #07a0ff;
        left: 10px;
    }

    .topFace {
        transform: rotate(60deg) skewY(-30deg) scaley(1.16);
        background-color: #93d5ff;
        top: -8px;
        left: 5px;
    }
    /*nav links*/

    #nav {
        flex: 1 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    #nav a:not(:last-child) {
        margin-right: 10px;
    }

    #nav a[href] {
        font-weight: 700;
        color: #aaa;
        text-decoration: none;
    }

    #nav a[href]:hover {
        color: #222;
    }
    /*profile*/

    .portrait {
        padding: 9px 0;
        margin: 0 $mrgn-side;
    }

    .portrait:hover {
        transform: scale(1.1);
    }

    .portrait img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    /* Header part
*****************/

    #title {
        margin: 0 $mrgn-side;
    }

    #title h1 {
        font-size: 2.5rem;
        margin: 0 0 10px;
        padding: 0;
    }

    #title p {
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin: 0 0 20px;
        padding: 0;
    }
    /* Section part
*****************/

    #info {
        margin: 0 0 $mrgn-side / 3 0;
    }
    /*flex containers*/

    .flex-main-container {
        display: flex;
        margin: 0 $mrgn-side - $pdng-items;
        height: auto;
    }

    .flex-container {
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        width: 50%;
        margin-bottom: 30px;
    }

    .flex-container div[class^=flex-item] {
        padding: $pdng-items;
        border-radius: 10px;
    }

    .flex-item {
        &.wide {
            width: $w-wb;
            height: $w-wb * 0.5062;
        }
        &.narrow {
            width: $w-nb;
            height: $w-nb * 1.434;
        }
    }
    /*flex inner blocks*/

    .flex-item div[class^=item] {
        border-radius: 10px;
        background-size: 80%;
        background-size: cover;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
        width: 100%;
        height: 100%;
        padding: $pdng-items *2;
        position: relative;
    }

    .item1 {
        background: url(../img/item1.png) center no-repeat;
        &>.item-button {
            color: rgb(73, 156, 151);
            box-shadow: rgba(73, 156, 151, 0.8) 0px 2px 12px 0px;
        }
    }

    .item2 {
        background: url(../img/item2.png) center no-repeat;
        &>.item-button {
            color: rgb(72, 134, 153);
            box-shadow: rgba(72, 134, 153, 0.8) 0px 2px 12px 0px;
        }
    }

    .item3 {
        background: url(../img/item3.png) center no-repeat;
        &>.item-button {
            color: rgb(182, 86, 118);
            box-shadow: rgba(182, 86, 118, 0.8) 0px 2px 12px 0px;
        }
    }

    .item4 {
        background: url(../img/item4.png) center no-repeat;
        &>.item-button {
            color: rgb(21, 23, 43);
            box-shadow: rgba(21, 23, 43, 0.8) 0px 2px 12px 0px;
        }
    }

    .item5 {
        background: url(../img/item5.png) center no-repeat;
        &>.item-button {
            color: rgb(177, 133, 92);
            box-shadow: rgba(177, 133, 92, 0.8) 0px 2px 12px 0px;
        }
    }

    .item6 {
        background: url(../img/item6.png) center no-repeat;
        &>.item-button {
            color: rgb(93, 167, 180);
            box-shadow: rgba(93, 167, 180, 0.8) 0px 2px 12px 0px;
        }
    }
    /*block's elements*/

    .item-tag {
        color: #FFF;
        opacity: 0.5;
        font-size: 1rem;
        padding-top: 10px;
        margin: 0 0 10px;
    }

    .item-header {
        color: #fff;
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 2rem;
        margin: 0;
    }

    .item-button {
        border: none;
        background-color: #fff;
        font-weight: 700;
        font-size: 0.8rem;
        width: 120px;
        height: 30px;
        border-radius: 4px;
        position: absolute;
        bottom: 30px;
    }

    .item-button:hover {
        transform: scale(1.05)
    }